title {Title}
link(rel="shortcut icon" href="{Favicon}")

script(src="https://use.typekit.net/dvq3ffd.js")
script try{Typekit.load({ async: true });}catch(e){}

style(type="text/css")
    include:stylus ./style.styl
    | {CustomCSS}
