| {block:Pagination}
section.pagination
    | {block:PreviousPage}
    article.prev
        a(href="{PreviousPage}") Prev
    | {/block:PreviousPage}

    | {block:NextPage}
    article.prev
        a(href="{NextPage}") Next
    | {/block:NextPage}

| {/block:Pagination}