section.posts
    |{block:Posts}
    article(class="{PostType} {TagsAsClasses}")
        include ./posts/text.pug
        include ./posts/photo.pug
        include ./posts/panorama.pug
        include ./posts/photoset.pug
        include ./posts/quote.pug
        include ./posts/link.pug
        include ./posts/chat.pug
        include ./posts/audio.pug
        include ./posts/video.pug
        include ./posts/answer.pug

        | {block:Date}
        details
            p.time {TimeAgo}
            p.permalink Permalink: &nbsp
                a(href="{Permalink}") {ShortURL}
        | {/block:Date}

    |{/block:Posts}