section.posts
    |{block:Posts}
    article(class="{PostType}, {TagsAsClasses}")
        include ./posts/photo.pug
        include ./posts/video.pug 
        include ./posts/text.pug

    |{/block:Posts}