| {block:Answer}
blockquote.question
    h3 {Asker} asks:
    p {Question}
    //- | {block:Answerer}
blockquote.answer
    h3 Answer by {Answerer}:
    p {Answer}
    //- | {/block:Answerer}
| {/block:Answer}