| {block:Link}
blockquote
    | {block:Host}
    h2 {Host}
    | {/block:Host}
    a(href="{URL}")
        h1 {Name}&nbsp↠
    | {block:Excerpt}
    p {Excerpt}
    | {/block:Excerpt}

| {block:Description}
| {Description}
| {/block:Description}
| {/block:Link}