doctype html
html
    head
        include ./includes/head.pug
        script
            include ./includes/details-polyfill.js
    body
        include ./includes/header.pug
        include ./includes/posts.pug
        include ./includes/pagination.pug
        include ./includes/footer.pug